body {
    margin: 0;
}


* {
    overflow-wrap: break-word;
    word-wrap: break-word;
    margin: 0;
}

/* ---------------------- */








.headerDiv {
    width: 100%;
    height: 65px;
    border-bottom: #D6D4D2 solid 1px;
}


.insideHeader {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0;
}

.textMenu {
    display: flex;
    gap: 35px;
    align-items: center;
    margin-right: 20px;
}

.textMenu>h3 {
    font-family: 'Kantumruy Pro', sans-serif;
    font-size: 1rem;
    padding: 9px 0px;
    color: #353C51;
}

.menu {
    display: flex;
    gap: 20px;

}

.menu>h3 {
    font-family: 'Kantumruy Pro', sans-serif;
    font-size: 1rem;
    padding: 9px 16px;
    border-radius: 4px;
    color: #161E36;
}

#login {
    border: 2px solid #161E36;
    color: #161E36;
    cursor: pointer;
}

#create {
    border: 2px solid #304AF2;
    background-color: #304AF2;
    color: white;
    cursor: pointer;
}

.tabIcon {
    /* background-color: #707070;
    vertical-align:middle; */
    display: none;
    padding: 9px 0px;
}

#tabBtn {
    width: 19px;
    display: block;

}

/* ---------------------- */


/* ---------------------- */
.logo {
    /* padding: 6px 0px; */
    /* width: 160px; */
    /* text-align: center; */
    /* outline: solid 2px; */
    font-size: 1.15em;
    font-family: 'Nunito', sans-serif;
    /* margin:  auto; */
    /* display: block; */
    /* align-items: center; */

}


/* ---------------------- */
.selectionItems2 {
    transform: translateY(0.5px);
}

.currency {
    /* outline: #353C51 solid; */
    /* background-color: rgb(247, 245, 244); */
    display: flex;
    width: fit-content;
    border: 1.4px solid #161E36;

    /* border-bottom: 1.4px solid #161E36; */
    /* height: 40px; */

    /* border-radius: 6px; */


    /* display: flex; */
    gap: 10px;
    cursor: pointer;
    margin: 0 auto;
    padding: 5px 6px;

    border-radius: 4px;
    margin-right: 12px;

}

.visitPs {
    overflow-y: hidden;
    width: 48px;
    height: 16px;
}

.currencyText {
    font-family: 'Kantumruy Pro', sans-serif;
    display: block;
    font-size: 1rem;
    transition: transform .4s;
    line-height: 1em;
    color: #161E36;
    /* text-align: center; */
    user-select: none;
}

.currencyText2 {
    font-family: 'Kantumruy Pro', sans-serif;
    font-size: 1rem;
    position: absolute;

    color: #161E36;
    transform: translateY(-1.6px);
    opacity: 0;
    user-select: none;
}

#currencyImg {
    width: 13px;
    display: block;
}






/* ---------------------- */

.topBar {
    /* background-color: rgb(247, 245, 244); */
    background-color: #F7F6FE;
    width: fit-content;
    /* height: 100px; */
    /* padding: 20px 0px; */

    margin-top: 40px;
    width: 420px;
    padding: 10px 0px;
    border-radius: 6px;
    /* width: 75%; */
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    align-items: flex-end;

}

.tabInfos{
    margin-left: 12px;
}

.desBar {
    display: flex;
    
    padding: 6px 0px;
    gap: 12px;
    width: 100%;

}

.infoBar {
    display: flex;
    gap: 14px;
    width: 100%;
    
}

#barH3 {
    font-size: 1rem;
    font-family: 'Kantumruy Pro', sans-serif;
}

#barInfoH3 {
    font-size: 0.8rem;
    font-family: 'Kantumruy Pro', sans-serif;
}

/* ========================- */
.hero {
    width: 85%;
    margin: 0 auto;

}




/* ========================- */

.container {
    width: 90%;
    /* width: 1000px; */
    /* margin: 0 auto; */
    padding-top: 40px;
    /* background-color: #353C51; */

}


.result {
    display: flex;
    /* justify-content: space-between; */
    /* gap: 80px; */
    /* background-color: rgb(247, 245, 244); */
    width: 100%;
    gap: 8%;
}


/* ========================- */

.calendarPop {
    background-color: white;
    /* width: 400px; */
    display: inline-block;
    /* height: 450px; */
    padding: 20px 0px;
    box-shadow: 0 1px 4px 0 #C7C7C7;
    border-radius: 6px;
    width: 60%;
    
    
}

#ch {
    padding: 10px;
}

#ch>span {
    display: block;
    text-align: center;
    /* font-weight: bold; */
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
}


.calendarMonh {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    /* padding: 16px 0; */
    /* height: 100%;  */
    /* outline: #707070 solid; */
    margin-bottom: 25px;
}


.leftBtn {
    /* width: 20px;
    height: 20px; */
    cursor: pointer;

    /* margin-right: 10px; */
}

/* #leftBtnSvg{
width: 100%;
} */


#monthSelector {
    width: 160px;
    /* height: 40px; */
    padding-top: 5px;
    padding-bottom: 5.5px;
}

select {
    border: 1px solid rgb(178, 178, 190);
    font-size: 0.9rem;
    /* font-family: 'Source Sans Pro', sans-serif; */
    /* font-family: 'Lato', sans-serif; */
    border-radius: 6px;
    padding: 0px 4px;

    /* -webkit-appearance: none;
    appearance: none;  */
}

/* select {
    background-image: url();
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: 13px 13px;
  } */

.rightBtn {
    /* width: 20px;
    height: 20px; */
    cursor: pointer;
    /* margin-left: 10px; */
}

/* #rightBtnSvg{
    width: 20px;
    height: 20px;
}
 */
/* ===================== */

.weeks {
    list-style: none;
    display: flex;
    /* width: 95%; */

    padding: 0;
    margin: 0 auto;
    margin-top: 10px;
    justify-content: space-between;
    border-bottom: 1px solid #D6D4D2;
    padding-bottom: 10px;
    width: 90%;
}

.weeks>li {

    width: 54px;
    /* background-color: #353C51; */
    /* width: 15%; */
}

.weeks>li>span {
    display: block;
    width: fit-content;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}



.pick {
    margin-top: 20px;
    width: fit-content;
    height: fit-content;

    border-collapse: separate;
    /* border-spacing:12px; */
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
}

/* .pick tr {
    border-collapse: separate;
    border-spacing:12px;   
} */
#pickerSecondRow>td {
    padding-top: 20px;
}

#pickerThirdRow>td {
    padding-top: 20px;
}

#pickerForthRow>td {
    padding-top: 20px;
}

#pickerFifthRow>td {
    padding-top: 20px;
}

#pickerSixthRow>td {
    padding-top: 20px;
}

.pickTd {

    margin: 0px 5px;
    padding: 0;
    /* width: 55px; */
    /* width: 14%; */
}

.dateBtn {
    /* width: 35px;
    height: 35px; */

    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    /* padding: 0px 6px; */
    appearance: none;
    padding: 0;
    display: block;
    margin: 0 auto;

}

.numDiv {
    /* background-color: #00A9F4; */
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.numDiv>span {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;

}
.price {
    margin-top: 2px;
    font-family: 'Roboto', sans-serif;
}

/* ---------------------- */

.lists{
    width: 62%;
}

.listsHead {
    /* background-color: #304AF2; */
    /* height: 100px; */
    /* width: 400px; */
    margin-bottom: 20px;
    /* background-color: #F7F5F4; */
    width: fit-content;
    padding: 2px 0px;
    border-bottom: 1.4px solid #161E36;
}
.listsHead > h2{
    font-size: 1rem;
    font-family: 'Kantumruy Pro', sans-serif;
}
/* ==================== */


.item {

    height: 100%;
}



.resultsList {
    list-style: none;
    padding: 0;
}

.detail {
    /* outline: #707070 solid; */
    border-radius: 8px;
    /* width: 90%; */

    /* height: 80px; */
    margin: 0 auto;
    /* margin-top: 25px; */
    /* padding: 12px; */
    background-color: white;

}

.detail:nth-child(n + 2) {
    margin-top: 30px;
}

.itemBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;


    /* width: 480px; */
    width: 100%;
    height: 100%;
    background-color: rgb(247, 245, 244);
    border-radius: 6px;
}

.whole {
    width: 90%;
    margin: 0 auto;
    padding: 24px 0px;
}

.rank {
    display: flex;
    align-items: center;
    gap: 12px;

}

#numImg {
    width: 17.5px;
}

.rankText {
    font-weight: bold;
    font-size: 0.9rem;
    color: orange;
}

.rankText2 {
    font-weight: bold;
    font-size: 0.9rem;
    color: #00A9F4;
}


.loc {
    display: flex;
    align-items: center;
    /* gap: 10px; */
    margin-top: 5px;
}

.doo {
    font-size: 1rem;
    color: black;
    font-family: 'Lato', sans-serif;
    margin-right: 10px;
}

.ddo {
    font-size: 1rem;
    color: black;
    font-family: 'Lato', sans-serif;
    margin-left: 10px;
}

.tps {
    margin-left: auto;
}

.tp {
    font-size: 1.3rem;
    color: black;
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Roboto', sans-serif;
    margin-left: 10px;
}



.times {
    margin-top: 5px;
    display: flex;
    align-items: center;
}

#time {
    font-size: 0.9rem;
    color: #484F61;
    font-family: 'Lato', sans-serif;
}

#duration {
    margin-left: 20px;

    font-size: 0.85rem;
    color: #484F61;
    font-family: 'Lato', sans-serif;
}


.airline {
    margin-top: 5px;
    display: flex;
    /* justify-content: space-between;; */
    align-items: center;
}

#airLogo {
    height: 10px;
    transform: translateY(1px);
    margin-right: 5px;
}

#airLineName {
    color: #484F61;
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Lato', sans-serif;
    /* font-weight:bold; */
    font-size: 0.85rem;
}

.ticketPrice {
    margin: 0;
    margin-left: 40px;
}

.toLink {
    margin-left: auto;
    display: flex;
    align-items: center;
    /* gap: 10px; */
    background-color: #304AF2;
    width: 100px;
    height: 30px;
    border-radius: 4px;
}

/* .arrowRight{
    width: 20px;
} */
#linkText {
    /* font-size: 0.8rem; */
    width: 70px;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Kantumruy Pro', sans-serif;
    color: white;
    margin: 0 auto;

}


/* =========== */
/* .right {
    background-color: white;
    width: 180px;
    height: 500px;
    margin-left: auto;
} */



/* =========== */
footer {
    height: 180px;
    width: 85%;
    margin: 0 auto;
    margin-top: 150px;
    border-top: #D6D4D2 solid 1px;
}

.footerDiv {
    display: flex;
    align-items: center;
    gap: 60px;
    width: 95%;
    margin: 0 auto;
    margin-top: 60px;
}

.footerUl {
    list-style: none;
    display: flex;
    gap: 30px;
}

#footerH3 {
    font-family: 'Kantumruy Pro', sans-serif;
    font-size: 1rem;
    padding: 9px 0px;
    color: #353C51;
}





@media all and (min-width: 600px) and (max-width: 1000px) {
    .logo {
        color: lime;
    }

    .textMenu>h3 {
        display: none;

    }


    .headerDiv {
        border-bottom: #D6D4D2 solid 1px;
    }


    .tabIcon {
        display: block;
        transform: translateY(3px);
    }

    #login {
        display: none;

    }

    #create {
        display: none;
    }

    .container {
        width: 100%;
    
    }
    

    /*  */

    .result {
        display: block;
    }

    .lists {
        margin-left: 0px;
        margin-top: 40px;
    }
    


      /* ========================== */

      .footerDiv {
        justify-content: space-between;
    }

}



@media all and (max-width: 600px) {
    .logo {
        color: pink;
    }
/* 
    .selectionItems2 {
        display: none;
    } */

    .textMenu>h3 {
        display: none;

    }


    .headerDiv {
        border-bottom: #D6D4D2 solid 1px;
        /* width: 100%; */
    }

    .insideHeader {
        margin: 0 auto;
        width: 90%;

    }

    .tabIcon {
        display: block;
        transform: translateY(3px);
    }

    #login {
        display: none;

    }

    #create {
        display: none;

    }

    /*  */
    .container {
        width: 100%;
    
    }

    .hero {
        width: 90%;
    }
    
    

    /* ===================== */

    .result {
        display: block;
    }

    .lists {
        margin-left: 0px;
        margin-top: 40px;
    }

    /* ===================== */

    .calendarPop {
        
        width: 100%;
        padding: 20px 0px;
        
    }
    .lists{
        width: 100%;
    }
    .itemBtn {
        width: 100%;
    }

    .topBar {
        width: 100%;
        /* padding: 0; */
    }



      /* ========================== */

      .footerDiv {
        justify-content: space-between;
    }
}